



@media (min-width: 992px) {

    .ml-200px {
        margin-left: 200px !important;
       
    }


}

.table-grey {
    background-color: #343a40;
    color: white;
    
}

.box {
  transition: box-shadow .4s;
  border-radius: 6px;
     
}
.box:hover {

  box-shadow: 0 0 8px rgba(99,99,99,.3); 
}

.btn-menu:hover  {
    
    color: #212529;
    background-color: #eee;
}

.btn-menu {
    color: #212529;
    

   
}
.btn-menu:focus, .btn-menu.focus {
    box-shadow: 0 0 0 0.2rem rgba(216, 217, 219, 0.5);
}


.infologin {
  left: 29%;
  position: fixed;
  top: -20%;
  transform: translate(-50%, -50%);
  
    
} 
